{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script> {{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").sho"w() once you get the data for the first time. -->
    </div>"

    <div class ="form error-message" style="margin-left: 260px;">
      {{=form}}
    </form>

     {{if error is not None: }}
        <h2 class="error-message">{{=error}}</h2>
      {{pass}}
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>


<style>

  #eventDetails_organizer_id__row {
    display:none;
  }

  #eventDetails_organizer_name__row {
    display:none;
  }
  .form label{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    margin-left: 1%;
  }

  .form .col-sm-9 {
    margin-left: 1%;
    margin-right: 5%;
    padding-top: 1%;
  }

</style>
