{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script> {{end}}
<html>
<head>
    <link href="{{=URL('static','css/tableStyling.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div class="main_content">
    <h1>Welcome to the Leaderboard!</h1>
    <div id="vue-div22">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
    <table id = "songs" box = "frame">
      <thead>
        <tr id = "header" bgcolor="red">
          <th id = "Artist">
            <div>
              Artist
            </div>
          </th>
          <th>
            <div class = "header2">
              Song
            </div>
          </th>
          <th>
            <div class = "header2">
              Rating
            </div>
            </th>
          <th>
            <div class = "header2">
              Play/Pause
            </div>
          </th>
          <th>
            <div class = "header2">
              Upvotes
            </div>
          </th>
          <th id = "del">Delete</th>
        </tr>
    </thead>
      {{if tracks is not None: }}
        {{for track in tracks: }}

        <tr>
          <td class = "greyRow" >{{=track.artist}}</td>
          <td class = "greyRow">{{=track.title}}</td>
          <td class = "greyRow">{{=track.popularity}}</td>
          <td class = "greyRow"></td>
          <td class = "greyRow"></td>
          <td id = "trash">
            <a class="btn rounded red" href="{{=URL('disquejoy','default','delete', args=[track.id], user_signature=True)}}">
                <i class="fa fa-trash fa-lg"></i>
            </a>
          </td>
      </tr>
        {{pass}}
      {{pass}}
    </table>
    <div id = "buttonContainer">
     <button class="buttonAdd w3-button w3-xlarge w3-circle w3-teal"><a href='{{=URL("disquejoy","api","upload")}}'>+</a></button>
    </div>

</div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
</html>
