{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script> {{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
    </div>


    <table width = "100%">
      <tr>
        <th>Artist</th>
        <th>Song</th>
        <th>Time Published</th>
        <th>Play/Pause</th>
        <th>Upvotes</th>
        <th>Delete</th>
      </tr>
      {{if tracks is not None: }}
        {{for track in tracks: }}
        <tr>
          <td>{{=track.artist}}</td>
          <td>{{=track.title}}</td>
          <td>{{=track.popularity}}</td>
          <td></td>
          <td></td>
          <td>
            <a class="btn rounded red" href="{{=URL('disquejoy','default','delete', args=[track.id], user_signature=True)}}">
                <i class="fa fa-trash fa-lg"></i>
            </a>
          </td>
      </tr>

        {{pass}}
      {{pass}}
    </table>

    {{for track in tracks: }}
    {{=track}}
    {{pass}}
    </div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
