@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400";

#title {
  font-weight: bold;
  font-family: Montserrat;
  color: white;
  font-size: 55px;
  margin-top:5px;
  margin-left: 20%;
}


.feedText {
  position:relative;
  padding-top:15px;
  padding-left: 10%;
  font-family:'Montserrat';
  font-style: normal;
  font-size: 20px;
  width:85%;
}

.feedButtons {

}

.buttonInfo {
  background: #D9DEE2;
  color: black;
}

.buttonInfo:hover{
  background: #EEF3F7;
}
