
.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    background-color: #2FD566;
}


.sidenav a {
    align-self: center;
    font-size: 25px;
    display: block;
    background: #38C765;
    border-radius: 10px;
    text-align: center;
    width: 75%;
    margin: auto;

}

.sidenav a:hover{
    background-color: #00E4AC !important;
    color: #fff !important;
}

.sidebtn a {
    position: relative;
    align-content: right;
    text-align: center;
    border-radius: 15px;
    width: 50%;
    margin-top: 20%;
}

#logo img{
    position: relative;
    height: auto;
    margin: auto;
    width: 100%; 
}
