@media screen and (max-height: 450px){
    .sidenav{width: 0%}
    .sidenav a{font-size: 0}
}

@media screen and (max-width: 1000px){
    .sidenav{width: 0%}
    .sidenav a{font-size: 0}
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom right, rgb(141, 227, 170), rgb(51, 226, 110));
}


.sidenav a {
    align-self: center;
    display: block;
    background: linear-gradient(to bottom right, rgb(170, 248, 197), rgb(204, 250, 219));
    border-radius: 10px;
    text-align: center;
    width: 75%;
    margin-top:1% !important;
}

.sidenav a:hover{
    background-color: #32B35B !important;
    font-weight: bold !important;
    color: black !important;
}

.sidebtn a {
    /*position: relative !important;*/
    text-align: center !important;
    font-size: 2vw !important;
    border-radius: 15px !important;
    width: auto  !important;
    margin-top: 20% !important;
    margin-left: 16%;
    margin-right: 16%;
}

#logo img{
    height: auto;
    width:  90%;
    padding-top: 20%;
    padding-left: 15%;
}