@media screen and (max-height: 450px){
    .sidenav{width: 0%}
    .sidenav a{font-size: 0}
}

@media screen and (max-width: 1000px){
    .sidenav{width: 0%}
    .sidenav a{font-size: 0}
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    background-color: #2FD566;
}


.sidenav a {
    align-self: center;
    display: block;
    background: #38C765;
    border-radius: 10px;
    text-align: center;
    width: 75%;
    margin-top:1% !important;


}

.sidenav a:hover{
    background-color: #32B35B !important;
    font-weight: bold !important;
    color: black !important;
}

.sidebtn a {
    /*position: relative !important;*/
    text-align: center !important;
    font-size: 2vw !important;
    border-radius: 15px !important;
    width: auto  !important;
    margin-top: 20% !important;
    margin-left: 16%;
    margin-right: 16%;
}

#logo img{
    position: relative;
    margin: auto;
}
