@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400";

#songs {
  float:right;
  margin-top: 35px;
  margin-right: 10px;
  align-content: right;
  width:82%;

}

.header {
    display:block;
}

.infoHead {
  background-color: red;
}
#trash {
  border-right: 1px solid #000;
}

#header1 {
  border-left: 1px solid #000;

}

#songs td, #songs th {
  /*  background-color: #363E45;
    font-size: 17pt;
    padding: 8px;
    color:white;
    text-align: right;*/
}

#songs tr:hover {
  background: black;
}

#title {
  font-weight: bold;
  font-family: Montserrat;
  color: white;
  font-size: 55px;
  margin-top:5px;
  margin-left: 20%;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-left: 350px !important;
  margin-top: 60px !important;
  font-weight: 700 !important;
  font-size: 4.2em !important;
  line-height: 1.2em !important;


}
#songs th {
  /*  font-family: 'Varela Round', sans-serif;
    padding-top: 35px;
    padding-bottom: 5px;
    text-align: right;
    background-color: #2A3136;
    border:  2px solid  #00E4AC;
    color: white; */
}


.trackRow {
  text-align: left;
  color: white;
}
/*
thead tr:first-child th:first-child {
  border: 2px solid  #00E4AC;


}

#songs thead tr:hover th:hover{
    background-color: #00E4AC;
}

thead tr:last-child th:last-child {
  border: 2px solid  #00E4AC;

}
*/
/*https://bethsoderberg.com/blog/making-responsive-rectangles-and-squares-with-css/*/
.flex-rectangle {
    width: 55%;
    background:#808080;
    margin-left: 350px;
    height: 15%;
    position:relative;
}
.flex-rectangle:before {
    content: "";
    /*display: block;
    padding-top: 25%;*/
}

.flex-square{
    position:absolute;
    width: 17%;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 8px;
    background: #2A3136;
}
.flex-square:before{
    content: "";
    display: block;
    padding-top: 100%;
}

#play_button {
    width: 60px;
    height: auto;
    overflow: hidden;
}

/*end*/

#songs > table > tbody > tr > td:first-child {
   padding:0 !important;
}

#header {
  background-color: red;
  color: white;
  font-family: 'Raleway';
  font-size: 35pt;
  width: auto;
  border:45px grey;
}
/*Not Responsive*/
#buttonContainer {
  float: left;
  margin-left: 1430px;
  margin-top: 490px;
}

@media screen and (max-width: 1000px) {
    .sidenav {width:0%}
    .main_content{position: relative;}
    #songs{ position: absolute;margin: 0 auto auto 0;width:60% !important; overflow-x: auto;}
    .sidenav a { font-size:0}

}
