{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>

{{end}}
<script>
  var feedURL = "{{=URL('feed', 'retrieveFeed')}}";
  var likeURL = "{{=URL('feed', 'increaseLike')}}";
  var getUserInfoFromFeed = "{{=URL('feed', 'userInfo')}}";
  var getUserFeedLikes = "{{=URL('feed', 'get_feed_that_user_likes')}}";
  var comments =  "{{=URL('feed', 'getComments')}}";
  var add_comment =  "{{=URL('feed', 'add_comment')}}";
</script>
<style>
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400";

.feedText{
  font-family: 'Varela Round', sans-serif;
  font-size: 25;
}
</style>
<html>
<head>
  <link href="{{=URL('static','css/feed.css')}}" rel="stylesheet" type="text/css"/>
</head>

<div v-cloak id="parent" style="">
  <div id="title">Feed</div>
  <div v-for = "feed in feedArr">
  <div class="feedCell" style="border-radius: 18px; margin-top: 3%;margin-right: 5%;float:right; width:74%; background-color:#E8EEF2; padding-top: 2%; padding-bottom: 1%; padding-left:2%">
    <div style = "width:auto;height:50px;position:relative;">
    <div class ="feedProfilePic" style="display:inline-block;float:left;"> <img :src="feed.profilePicture" style="border-radius:50px;max-width:70px">
    </div>
    <div v-if = "feed.feed_type == 'UPVOTE'">
      <div class ="feedText"> ${feed.user_name_active} upvoted the song: ${feed.title} </div>
    </div>
    <div v-if = "feed.feed_type == 'EVENT'">
      <div class ="feedText"> ${feed.user_name_active} is hosting an event: ${feed.title} </div>
    </div>
    <div v-if = "feed.feed_type == 'UPLOAD'">
      <div class ="feedText"> ${feed.user_name_active} uploaded a new song: ${feed.song} </div>
    </div>
  </div>

    <div class ="feedButtons" style="display:block">
      <div v-if = "ids_of_feed_user_liked.includes(feed.id)">
        <a class="btn rounded buttonInfo" @click = "likeFeed(feed.id)">
          <i class="fa fa-heart" style="color:red;"></i>
          <div class = "feedText"  style="padding: 3px 2px; line-height: 1px; font-size:13px; font-family: Montserrat; display:inline-block !important; margin-right:1px;">
            Like
          </div>
        </a>
        <a class="btn rounded buttonInfo" @click = "comment_memo_button(feed.id)">
          <i class="fa fa-comment"></i>
          <div class = "feedText" style="padding: 3px 2px; line-height: 1px; font-size:13px; font-family: Montserrat; display:inline-block !important; margin-right:1px;">
            Comment
          </div>
        </a>
      </div>
      <div v-else >
        <a class="btn rounded buttonInfo " @click = "likeFeed(feed.id)">
        <i class="fa fa-heart"></i>
        <div class = "feedText" style="padding: 3px 2px; line-height: 1px; font-size:13px; font-family: Montserrat; display:inline-block !important; margin-right:1px;">
          Like
        </div>
        </a>
        <a class="btn rounded buttonInfo" @click = "comment_memo_button(feed.id)">
          <i class="fa fa-comment"></i>
          <div class = "feedText"  style="padding: 3px 2px; line-height: 1px; font-size:13px; font-family: Montserrat; display:inline-block !important; margin-right:1px;">
            Comment
          </div>
        </a>
      </div>
    </div>
    </div>
    <div class="feedCell" v-if = "is_commenting && selected_feed_id == feed.id" style="height:135px;border-radius: 0px 0px 18px 18px ;margin-right: 5%;float:right; width:74%; background-color:#E8EEF2; margin-top: -2%;">
      <div class = "listview" style = "height:100px;overflow-y:scroll;">
        <div v-for = "row in comments" style = "position:relative;border-top:1px solid grey;padding-top:4px;padding-bottom:7px;padding-left:7px;height:40px"><img :src = "row.pictureOfCommenter" width="auto" height = "35px" style = "border-radius:50%;padding-left:5px;display:inline-block;margin-top:-2px;">
          <div style= "position:absolute;margin-top:6px;margin-left:10px;display:inline-block;color:black;">
            <span>${row.nameOfCommenter}:</span>
            <span>${row.commentText}</span>
          </div>
      </div>
      </div>
        <div style = "float:right;width:95%;bottom:0;"><input type = "text" v-model = "comment" placeholder="Add a comment!" style = "width:90%;border-radius:24px 0px 0px 24px;"></input><button style = "width=10;" @click = "push_comment(feed.id)">Submit</button></div>
    </div>
  </div>
</div>
<style>
.isactive{
  background-color:red;
}

.feedProfilePic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid range;
    z-index:22;
}
</style>




<script src="{{=URL('static', 'js/feed_index.js')}}"></script>
</html>
