{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>

{{end}}
<script>
  var feedURL = "{{=URL('feed', 'retrieveFeed')}}";
  var likeURL = "{{=URL('feed', 'increaseLike')}}";
  var getUserInfoFromFeed = "{{=URL('feed', 'userInfo')}}";
  var getUserFeedLikes = "{{=URL('feed', 'get_feed_that_user_likes')}}";
  var comments =  "{{=URL('feed', 'getComments')}}";
  var add_comment =  "{{=URL('feed', 'add_comment')}}";
</script>
<style>
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
.feedText{
  font-family: 'Varela Round', sans-serif;
  font-size: 25;
}
</style>

<div v-cloak id="parent" style="">
  <div v-for = "feed in feedArr">
  <div class="feedCell" style="border-radius: 18px; margin-top: 3%;margin-right: 3%;float:right; width:74%; background-color:#E8EEF2; padding-top: 2%; padding-bottom: 1%; padding-left:2%">
    <div style = "width:100%;height:100px;position:relative;">
    <div class ="feedProfilePic" style="display:inline-block;float:left;"> <img :src="feed.profilePicture" style="border-radius:50px;max-width:100px">
    </div>
    <div v-if = "feed.feed_type == 'UPVOTE'">
      <div class ="feedText" style="position:relative;padding-top:30px;padding-left: 10%font-family:'Varela Round', sans-serif;width:85%;"> ${feed.user_name_active} upvoted the song: ${feed.title} </div>
    </div>
    <div v-if = "feed.feed_type == 'EVENT'">
      <div class ="feedText" style="position:relative;padding-top:30px;padding-left: 10%font-family:'Varela Round', sans-serif;width:85%;"> ${feed.user_name_active} is hosting an event: ${feed.title} </div>
    </div>
    <div v-if = "feed.feed_type == 'UPLOAD'">
      <div class ="feedText" style="position:relative;padding-top:30px;padding-left: 10%;font-family:'Varela Round', sans-serif;width:85%;"> ${feed.user_name_active} uploaded a new song: ${feed.song} </div>
    </div>
  </div>
    <div class ="feedButtons" style="padding-top: 1%; display:block">
      <div v-if = "ids_of_feed_user_liked.includes(feed.id)">
        <a class="btn rounded green" @click = "likeFeed(feed.id)">
          <i class="fa fa-heart" style="color:red;"></i>
          <div class = "feedText"  style="font-size:15 !important; display:inline-block !important; margin-right:20px">
            Like
          </div>
        </a>
        <a class="btn rounded green" @click = "comment_memo_button(feed.id)">
          <i class="fa fa-comment"></i>
          <div class = "feedText" style="font-size:15 !important; display:inline-block !important;">
            Comment
          </div>
        </a>
      </div>
      <div v-else >
        <a class="btn rounded green" @click = "likeFeed(feed.id)">
        <i class="fa fa-heart"></i>
        <div class = "feedText" style="font-size:15 !important; display:inline-block !important;margin-right:20px">
          Like
        </div>
        </a>
        <a class="btn rounded green" @click = "comment_memo_button(feed.id)">
          <i class="fa fa-comment"></i>
          <div class = "feedText"  style="font-size:15 !important; display:inline-block !important;">
            Comment
          </div>
        </a>
      </div>



    </div>
    </div>


    <div class="feedCell" v-if = "is_commenting && selected_feed_id == feed.id" style="overflow:auto;height:150px;border-radius: 18px;margin-top: -1%;margin-right: 3%;float:right; width:74%; background-color:#E8EEF2; padding-top: 1%; padding-bottom: 1%; padding-left:2%">
      <div class = "listview" style = "height:90px;overflow-y:scroll;">
        <div v-for = "row in comments" style = "border-radius: 48px 48px 48px 48px;border:1px solid grey;padding-top:7px;padding-bottom:7px;padding-left:7px;height:70px"><img :src = "row.pictureOfCommenter" width="50px" height = "50px" style = "border-radius:50%;padding-left:5px;display:inline-block;"><span style = "display:inline-block;color:black;">${row.commentText}</span>
        </div>
      </div>
        <div style = "width:100%;bottom:0;"><input type = "text" v-model = "comment" placeholder="Add a comment!" style = "width:90%;border-radius:24px;"></input><button style = "width=10;" @click = "push_comment(feed.id)">Submit</button></div>
    </div>



  </div>
</div>
<style>
.isactive{
  background-color:red;
}

.feedProfilePic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid range;
    z-index:22;
}
</style>




<script src="{{=URL('static', 'js/feed_index.js')}}"></script>
